@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
body {
  line-height: 1.6;
}

/* 스크롤바 디자인 변경 */
/* ::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #f39;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #000;
} */

/* 스크롤바 숨기기 */
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: none;
}
html::-webkit-scrollbar {
  display: none;
}

#header {
  height: 70px;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s;
}
#header.hide {
  top: -70px;
}
#header nav {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  gap: 20px;
}
#header nav a {
  display: block;
  padding: 10px 20px;
  color: #f39;
}
#footer {
  height: 100px;
  background: #333;
}
.sec1 {
  background: yellowgreen;
}
.sec2 {
  background: plum;
}
.sec3 {
  background: seagreen;
}
.sec4 {
  background: aquamarine;
}
.section {
  padding: 100px;
}
.section h2 {
  font-size: 2rem;
}
.section p {
  margin-top: 50px;
}
#myMenu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  z-index: 99;
}
#myMenu li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  margin: 20px 0;
  position: relative;
}
#myMenu li a {
  display: block;
  height: 100%;
}
#myMenu li a b {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -57px;
  border: 1px solid #000;
  background: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  width: 160px;
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
}

/* 활성화 표시 */
#myMenu li.active {
  background: #f39;
}
#myMenu li.active a b {
  opacity: 1;
  right: -7px;
}

/* go-top */
.btn-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 70px;
  height: 70px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
.btns button {
  padding: 10px;
}

/* 많은 내용 */
.box {
  border: 1px solid #000;
  margin: 50px auto;
  width: 70%;
  padding: 50px;
}
